<div class="container-fluid">
  <div class="row mb-2">
    <div class="col">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            Rows
          </div>
        </div>
        <input class="form-control" type="number" [(ngModel)]="maxRow" (ngModelChange)="generateGrid()">
      </div>
    </div>
    <div class="col">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            Columns
          </div>
        </div>
        <input class="form-control" type="number" [(ngModel)]="maxCol" (ngModelChange)="generateGrid()">
      </div>
    </div>
  </div>
  <table class="main-grid">
    <tr *ngFor="let y of gridRow" class="cell cell-row-{{ y }} " cdkDropList>
      <td
        *ngFor="let x of gridCol"
        class="cell cell-{{ x }}-{{ y }}"
        id="coord-{{ x }}-{{ y }}"
        [ngClass]="{
          'cell-start': CELLS[x + maxCol * y].start,
          'cell-end': CELLS[x + maxCol * y].end,
          'cell-visited': CELLS[x + maxCol * y].visited,
          'cell-path': CELLS[x + maxCol * y].path,
          'cell-wall': CELLS[x + maxCol * y].wall
        }"
        cdkDrag
        cdkDragBoundary=".main-grid"
        (mousedown)="drag(x, y)"
        (mouseup)="drop(x, y)"
        (mouseenter)="addWall(x, y)"
      ></td>
    </tr>
  </table>
  <div class="row">
    <div class="col">
      <!-- {{selectedCell |json}} -->
    </div>
  </div>
  <button [disabled]="loading" type="button" class="btn btn-primary  mr-1 mt-1" (click)="visualiseDijkstra()">
    Visualise
  </button>
  <button [disabled]="loading" type="button" class="btn btn-warning mr-1 mt-1" (click)="resetGrid()">
    Reset Grid
  </button>
  <button [disabled]="loading" type="button" class="btn btn-danger mr-1 mt-1" (click)="clearGrid()">
    Clear Grid
  </button>
</div>
