.container-main {
  width: 80%;
  margin: auto;
  margin-top: 5%;
}
.main-grid {
  border: solid;
}
.cell {
  background-color: rgba(120, 198, 201, 0.397);
  height: 20px;
  width: 20px;
  border: solid white 1px;
}

td:hover:nth-child(n) {
  background-color: indigo;
}

.cell-end {
  background-color: red !important;
}
.cell-end:hover {
  cursor: pointer;
}
.cell-visited {
  background-color: hotpink;
}
.cell-start {
  background-color: green !important;
}
.cell-start:hover {
  cursor: pointer;
}
.cell-wall {
  background-color: #3e2723;
}
.cell-path {
  background-color: yellow;
}
